{$DOMAIN::80} {
	encode gzip

	tls {$TLS_MODE:internal}

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /ws/* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
